* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header {
    width: 100%;
    height: 15vh;
    background-color: antiquewhite;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header-right {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-center {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-center {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}